# EXAMPLE .env file

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgres://<user>:<password>@postgres:5432/<db>

# Redis
REDIS_URL=redis://redis:6379

# API
API_PORT=8080
API_KEY_SECRET=

# NLP Service
NLP_SERVICE_URL=http://nlp-service:8000
