# EXAMPLE .env file

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgres://<user>:<password>@postgres:5432/<db>

# Redis
REDIS_URL=redis://redis:6379

# Base URL
BASE_URL=

# API
API_PORT=8080
API_KEY_SECRET=

# NLP Service
NLP_SERVICE_URL=http://nlp-service:8000

# Rate Limiting Vars
IP_RATE_LIMIT=60
KEY_RATE_LIMIT=120
DEFAULT_TTL_DAYS=30
